{% extends "base.html" %}
{% load static %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

    {% image page.banner_image_home fill-1350x320 as img %}
    <img src="{{ img.url }}" alt="{{ img.alt }}" style='width:100%; height:auto;' />

    <hr/>

    {% include_block page.body %}

    <script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
{% endblock content %}
